

<h2>
	Edit User Rating
</h2>

<h4>
	Name: <%= @user.firstName %>
</h4>

<p>
	Current Rating: <%= @user.rating%>
</p>

<%= form_for(:user, :url => {:action => 'update' , :id => @user.id }) do |f| %>

	<p>
		Updated Rating: <%= f.text_field(:rating) %>
	</p>

	<%= submit_tag("Update Rating") %>
<% end%>


